apiVersion: v1
kind: Namespace
metadata:
  name: demo
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fast-demo-deployment
  namespace: demo
  labels:
    app: fast-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fast-demo
  template:
    metadata:
      labels:
        app: fast-demo
    spec:
      containers:
        - name: fast-demo
          image: fast-demo:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: PYTHONUNBUFFERED
              value: "1"
            - name: API_VERSION
              value: "{{API_VERSION}}"
---
apiVersion: v1
kind: Service
metadata:
  name: fast-demo-service
  namespace: demo
spec:
  selector:
    app: fast-demo
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: fast-demo-ingress
  namespace: demo
spec:
  ingressClassName: nginx
  rules:
    - host: "{{K8S_INGRESS_IP}}.nip.io"
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: fast-demo-service
                port:
                  number: 8000
